.sidebar {
    width: 0;
    height: 640px;
    float: left;
    background-color: grey;
    color: white;
    transition: 0.5s;
    white-space: nowrap;
}

.header {
    border-bottom: 2px solid white;
    display: table;
    width: 100%;
    padding: 0 10px;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.btn {
    margin: 10px;
    border-radius: 5px;
    font-size: 12pt;
    background-color: grey;
    color: white;
    border: none;
}

.btn:hover {
    background-color: #A0AE62;
}

.section-inner {
    padding: 10px;
}

.section-outer:hover {
    background-color: #A0AE62;
}